body {
  background-image: url("{{ url_for('static', filename='img/bg.jpg') }}");
/*   background-repeat: no-repeat;
  background-attachment: fixed; */
}

h3{
	color: grey
}

#form{
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.image{

}